<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
###############################################################################
# Copyright (c) 2015 - present Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

	<extension
	      point="fr.opensagres.eclipse.jsbuild.ui.labelProviders">
	   <labelProvider
	         id="fr.opensagres.eclipse.jsbuild.core.grunt"
	         class="fr.opensagres.eclipse.jsbuild.grunt.internal.ui.GruntLabelProvider" >
	   </labelProvider>
	</extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
        icon="icons/full/obj16/gruntfile.png"
        configTypeID="fr.opensagres.eclipse.jsbuild.core.grunt"
        id="fr.opensagres.eclipse.jsbuild.core.grunt.image">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="fr.opensagres.eclipse.jsbuild.core.grunt"
        class="fr.opensagres.eclipse.jsbuild.grunt.internal.ui.launchConfigurationTypes.GruntLaunchTabGroup"
        id="fr.opensagres.eclipse.jsbuild.core.grunt.tabgroup">
    </launchConfigurationTabGroup>
  </extension>
   
 <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="fr.opensagres.eclipse.jsbuild.ui.launchConfigurations.JSBuildFileLaunchShortcut"
            description="%GruntLaunchShortcut.description"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.gruntShortcut"
            icon="icons/full/obj16/gruntfile.png"
            id="fr.opensagres.eclipse.jsbuild.grunt.ui.GruntLaunchShortcut"
            label="%GruntLaunchShortcut.label"
            modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="fr.opensagres.eclipse.jsbuild.core.isJSBuildFile" value="fr.opensagres.eclipse.jsbuild.core.grunt"/>
                 </or>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%GruntLaunchShortcut.label"/>
  		 </contextualLaunch>
        <configurationType
              id="fr.opensagres.eclipse.jsbuild.core.grunt">
        </configurationType>
      </shortcut>
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="fr.opensagres.eclipse.jsbuild.ui.launchConfigurations.JSBuildFileLaunchShortcutWithDialog"
            description="%GruntLaunchShortcutWithDialog.description"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.gruntShortcutWithDialog"
            icon="icons/full/obj16/gruntfile.png"
            id="fr.opensagres.eclipse.jsbuild.grunt.ui.GruntShortcutWithDialog"
            label="%GruntLaunchShortcutWithDialog.label"
            modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
					<test property="fr.opensagres.eclipse.jsbuild.core.isJSBuildFile" value="fr.opensagres.eclipse.jsbuild.core.grunt"/>
                 </or>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%GruntLaunchShortcutWithDialog.label"/>          
  		 </contextualLaunch>
        <configurationType
              id="fr.opensagres.eclipse.jsbuild.core.grunt">
        </configurationType>
      </shortcut>
   </extension>
      
</plugin>
