<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
###############################################################################
# Copyright (c) 2015 - present Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

  <extension-point id="labelProviders" name="%labelProviders.name"
		schema="schema/labelProviders.exsd" />

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%JSBuildFileView.name"
            icon="$nl$/icons/full/eview16/explorer.gif"
            category="org.eclipse.wst.jsdt.ui.java"
            class="fr.opensagres.eclipse.jsbuild.internal.ui.views.JSBuildFileView"
            id="fr.opensagres.eclipse.jsbuild.ui.views.BuildExplorer">
      </view>
  </extension>

  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:fr.opensagres.eclipse.jsbuild.ui.views.BuildExplorer?endof=additions">
        <command
              commandId="org.eclipse.ui.navigate.collapseAll"
              style="push">
        </command>
     </menuContribution>
  </extension>
     
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="fr.opensagres.eclipse.jsbuild.internal.ui.views.actions.CollapseAllHandler"
           commandId="org.eclipse.ui.navigate.collapseAll"
           helpContextId="jsbuild_collapse_all_handler">
        <activeWhen>
           <with
                 variable="activePartId">
              <equals
                    value="fr.opensagres.eclipse.jsbuild.ui.views.BuildExplorer">
              </equals>
           </with>
        </activeWhen>
     </handler>
  </extension>
        
	<extension
      	point="org.eclipse.ui.commands">
      	<command
            name="%ActionDefinition.openEditor.name"
            description="%ActionDefinition.openEditor.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="fr.opensagres.eclipse.jsbuild.ui.edit.text.task.open.editor">
      	</command>      
	</extension>
	
	<extension
	      point="org.eclipse.ui.actionSets">
	  <actionSet 
	  		label="%jsBuildFileActionSet.label"
            visible="false"
            id="fr.opensagres.eclipse.jsbuild.ui.actionSet.presentation">
	      <action
               definitionId="fr.opensagres.eclipse.jsbuild.ui.edit.text.task.open.editor"
               label="%OpenAction.label"
               tooltip="%OpenAction.tooltip"
               retarget="true"
               menubarPath="navigate/open.ext"
               allowLabelUpdate="true"
               id="fr.opensagres.eclipse.jsbuildt.ui.actions.Open">
         </action>
      </actionSet>
   	</extension>
   		
	<extension
			point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="fr.opensagres.eclipse.jsbuild.ui.jsBuildFileContent" />
				<contentExtension pattern="fr.opensagres.eclipse.jsbuild.ui.taskLinkHelper" />
			</includes>
		</viewerContentBinding>
	</extension>
   	
	<extension
			point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
				activeByDefault="true"
				contentProvider="fr.opensagres.eclipse.jsbuild.internal.ui.views.NavigatorJSBuildFileContentProvider"
				id="fr.opensagres.eclipse.jsbuild.ui.jsBuildFileContent"
				labelProvider="fr.opensagres.eclipse.jsbuild.internal.ui.views.NavigatorJSBuildFileLabelProvider"
				name="%commonNavigatorContentName"
				priority="low">
			<triggerPoints>
			     <or>
					<and>
                 		<instanceof	value="org.eclipse.core.resources.IResource" />
						<test property="fr.opensagres.eclipse.jsbuild.core.isJSBuildFile" />
					</and>
				</or>
			</triggerPoints>
			<possibleChildren>
				<or>
					<and>
                 		<instanceof	value="org.eclipse.core.resources.IResource" />
						<test property="fr.opensagres.eclipse.jsbuild.core.isJSBuildFile" />
					</and>
				</or>
			</possibleChildren> 
			<actionProvider
					class="fr.opensagres.eclipse.jsbuild.internal.ui.navigator.PackageExplorerOpenActionProvider"
					id="fr.opensagres.eclipse.jsbuild.ui.navigator.actions.OpenActions"
		         	overrides="org.eclipse.ui.navigator.resources.OpenActions">
				<enablement>
					<or>
						<and>
                 			<instanceof	value="org.eclipse.core.resources.IResource" />
							<test property="fr.opensagres.eclipse.jsbuild.core.isJSBuildFile" />
						</and>
						<instanceof value="fr.opensagres.eclipse.jsbuild.core.IJSBuildFileNode" />
					</or>
				</enablement>
			</actionProvider>
			<!--				
			<actionProvider
					class="org.eclipse.wst.jsdt.internal.ui.navigator.JavaNavigatorActionProvider"
					id="org.eclipse.wst.jsdt.ui.navigator.actions.StandardActions"
					overrides="org.eclipse.ui.navigator.resources.actions.EditActions"> 
				<enablement>
					<or>   
						<and>
							<instanceof	value="org.eclipse.core.resources.IResource" />
							<adapt type="org.eclipse.core.resources.IProject">
								<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
							</adapt>
						</and>
						<and>
							<instanceof value="org.eclipse.core.resources.IFile" />
          					<test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.wst.jsdt.core.jsSource" />
          				</and>	
						<instanceof value="org.eclipse.wst.jsdt.core.IJavaScriptElement" />
						<instanceof value="org.eclipse.wst.jsdt.core.IJarEntryResource" /> 
						<instanceof	value="org.eclipse.wst.jsdt.internal.ui.packageview.PackageFragmentRootContainer" />
						<instanceof value="org.eclipse.wst.jsdt.ui.ProjectLibraryRoot" />
					</or>
				</enablement>
			</actionProvider> 
			<actionProvider
		         class="org.eclipse.wst.jsdt.internal.ui.navigator.PackageExplorerOpenActionProvider"
		         id="org.eclipse.wst.jsdt.ui.navigator.actions.OpenActions"
		         overrides="org.eclipse.ui.navigator.resources.OpenActions"> 
		         <enablement>
					<or>
						<and>
							<instanceof	value="org.eclipse.core.resources.IResource" />
							<adapt type="org.eclipse.core.resources.IProject">
								<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
							</adapt>
						</and>
						<instanceof value="org.eclipse.wst.jsdt.core.IJavaScriptElement" />
						<instanceof value="org.eclipse.wst.jsdt.core.IJarEntryResource" /> 
						<instanceof value="org.eclipse.wst.jsdt.internal.ui.packageview.PackageFragmentRootContainer" /> 				
						<instanceof value="org.eclipse.wst.jsdt.ui.ProjectLibraryRoot" />
						<instanceof value="org.eclipse.wst.jsdt.internal.core.JarEntryFile" />
					</or>
				</enablement>
			</actionProvider> 
			<actionProvider
					class="org.eclipse.ui.navigator.resources.GoIntoActionProvider"
					id="org.eclipse.jsdt.ui.navigator.resources.GoIntoActions"
					overrides="org.eclipse.ui.navigator.resources.GoIntoActions">
				<enablement>
					<or>
						<adapt
							type="org.eclipse.core.resources.IProject">
							<test
								property="org.eclipse.core.resources.open">
							</test>
						</adapt>
						<adapt type="org.eclipse.core.resources.IFolder" />
						<adapt type="org.eclipse.ui.IWorkingSet" />
						<instanceof value="org.eclipse.wst.jsdt.core.IJavaScriptElement" />
						<instanceof value="org.eclipse.wst.jsdt.core.IJarEntryResource" />
						<instanceof value="org.eclipse.wst.jsdt.internal.ui.packageview.PackageFragmentRootContainer" />
						<instanceof value="org.eclipse.wst.jsdt.ui.ProjectLibraryRoot" />
						<instanceof value="org.eclipse.wst.jsdt.internal.core.JarEntryFile" />
					</or>
				</enablement>
			</actionProvider>
			
			<commonSorter
					class="org.eclipse.wst.jsdt.ui.JavaElementSorter"
					id="org.eclipse.wst.jsdt.ui.javaElementSorter"/>
		 
			<commonWizard
					menuGroupId="org.eclipse.wst.jsdt.ui.java"
					type="new"
					wizardId="org.eclipse.wst.jsdt.ui.NewJSWizard">
				<enablement>
					<or>
						<and>
							<instanceof	value="org.eclipse.core.resources.IResource" />
							<adapt type="org.eclipse.core.resources.IProject">
								<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.wst.jsdt.core.jsNature"/>
							</adapt>
						</and>
						<instanceof value="org.eclipse.wst.jsdt.core.IJavaScriptElement" />
						<instanceof value="org.eclipse.wst.jsdt.core.IJarEntryResource" />
						<instanceof value="org.eclipse.wst.jsdt.internal.ui.packageview.PackageFragmentRootContainer" />
						<instanceof value="org.eclipse.wst.jsdt.ui.ProjectLibraryRoot" />
						<instanceof value="org.eclipse.wst.jsdt.internal.ui.packageview.NamespaceGroup" />
					</or>
				</enablement>
			</commonWizard>--> 
		</navigatorContent>
   </extension>
           
   <extension
       point="org.eclipse.ui.navigator.linkHelper">
		<linkHelper
	          class="fr.opensagres.eclipse.jsbuild.internal.ui.navigator.TaskLinkHelper"
	          id="fr.opensagres.eclipse.jsbuild.ui.taskLinkHelper">          
	         <editorInputEnablement>
		         <or> 
		         	<instanceof value="org.eclipse.ui.IFileEditorInput" />
		         </or>
	         </editorInputEnablement>
	         <selectionEnablement>
	         	<or>
					<instanceof value="fr.opensagres.eclipse.jsbuild.core.IJSBuildFileNode" />
				</or>
	         </selectionEnablement>
      </linkHelper>          
   </extension>
              
</plugin>
