<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
###############################################################################
# Copyright (c) 2015 - present Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

	<extension
	      point="fr.opensagres.eclipse.jsbuild.ui.labelProviders">
	   <labelProvider
	         id="fr.opensagres.eclipse.jsbuild.core.gulp"
	         class="fr.opensagres.eclipse.jsbuild.gulp.internal.ui.GulpLabelProvider" >
	   </labelProvider>
	</extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
        icon="icons/full/obj16/gulpfile.png"
        configTypeID="fr.opensagres.eclipse.jsbuild.core.gulp"
        id="fr.opensagres.eclipse.jsbuild.core.gulp.image">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="fr.opensagres.eclipse.jsbuild.core.gulp"
        class="fr.opensagres.eclipse.jsbuild.gulp.internal.ui.launchConfigurationTypes.GulpLaunchTabGroup"
        id="fr.opensagres.eclipse.jsbuild.core.gulp.tabgroup">
    </launchConfigurationTabGroup>
  </extension>
     
 <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="fr.opensagres.eclipse.jsbuild.ui.launchConfigurations.JSBuildFileLaunchShortcut"
            description="%GulpLaunchShortcut.description"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.gulpShortcut"
            icon="icons/full/obj16/gulpfile.png"
            id="fr.opensagres.eclipse.jsbuild.gulp.ui.GulpLaunchShortcut"
            label="%GulpLaunchShortcut.label"
            modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                    <and>
                 		<instanceof	value="org.eclipse.core.resources.IResource" />
						<test property="fr.opensagres.eclipse.jsbuild.core.isJSBuildFile" value="fr.opensagres.eclipse.jsbuild.core.gulp" />
					</and>
					<instanceof	value="tern.eclipse.ide.gulp.internal.GulpTask" />									
				 </or>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%GulpLaunchShortcut.label"/>
  		 </contextualLaunch>
        <configurationType
              id="fr.opensagres.eclipse.jsbuild.core.gulp">
        </configurationType>
      </shortcut>
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="fr.opensagres.eclipse.jsbuild.ui.launchConfigurations.JSBuildFileLaunchShortcutWithDialog"
            description="%GulpLaunchShortcutWithDialog.description"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.gulpShortcutWithDialog"
            icon="icons/full/obj16/gulpfile.png"
            id="fr.opensagres.eclipse.jsbuild.gulp.ui.GulpShortcutWithDialog"
            label="%GulpLaunchShortcutWithDialog.label"
            modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
					<and>
                 		<instanceof	value="org.eclipse.core.resources.IResource" />
						<test property="fr.opensagres.eclipse.jsbuild.core.isJSBuildFile" value="fr.opensagres.eclipse.jsbuild.core.gulp" />
					</and>
				 </or>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%GulpLaunchShortcutWithDialog.label"/>          
  		 </contextualLaunch>
        <configurationType
              id="fr.opensagres.eclipse.jsbuild.core.gulp">
        </configurationType>
      </shortcut>
   </extension>
           
</plugin>
